%body
  / %header.header
  /   .alert チャットグループが作成されました。
  .contents
    .contentheader
      .headername
        %h3.headername__name
          = current_user.name
        %ul.icons
          %li.icons__list1
            = link_to new_group_path do
              %i.fa.fa-edit
          %li.icons__list2
            = link_to edit_user_path(current_user) do
              %i.fa.fa-cog
      .headergroup
        .left-headergroup
          .left-headergroup__title
            = @group.name
          %ul.members
            Member :
            - @group.users.each do |user|
              %li.members__name
                = user.name
        .right-headergroup
          = link_to 'Edit', "edit", method: :get
    .left-content
      - current_user.groups.each do |group|
        .wrapper
          = link_to group_messages_path(group) do
            .left-content__name
              = group.name
            .left-content__comment
              = group.show_last_message
    .contents-main
      .right-content
        .messages
          = render @messages
      .form
        = form_for [@group, @message] do |f|
          = f.text_field :body, class: 'form__message', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'
